<div class="cover container">
    <div class="cover-content">
        {{#if @site.icon}}
            <div class="cover-icon">
                <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
            </div>
        {{/if}}

        {{#if @site.description}}
            <div class="cover-description">{{@site.description}}</div>
        {{/if}}

        <div class="cover-cta">
            <a href="https://glow.fm/jktech/" class="button" target="_blank" rel="noopener noreferrer">成為贊助夥伴</a>
            <a href="https://linktr.ee/jktech" class="button button-secondary" target="_blank" rel="noopener noreferrer">收聽 Podcast</a>
        </div>
    </div>
</div>